<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" pageEncoding="UTF-8">
<title>Insert title here</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>

<!-- Estilos personalizados -->
<link href="/Styles/MenuStyle.css" rel="stylesheet">
<link href="/Styles/TableStyle.css" rel="stylesheet">
<link href="/Styles/ComponentesStyle.css" rel="stylesheet">
<script src="/Scripts/MenuScript.js"></script>

<!-- Scripts personalizados -->
<script src="/Scripts/ModalAndToastScript.js"></script>


</head>
<body>

	<div class="Container">
		<div th:insert="Components/Menu :: Menu-Sidebar" id="Menu-container"
			class="Menu-container"></div>
		<div th:insert="Components/Menu :: Menu-Header"
			class="Header-container"></div>
		<div class="Main-container">

			<div class="container w-75">

				<div class="bg-warning text-white rounded-3 pt-3 pb-2 px-3 mb-3">
					<strong class="fs-16 text-dark">Detalles de la compra</strong>
				</div>

				<div class="mb-3 shadow rounded-3 bg-white">



					<table class="Table-custom shadow">
						<thead>
							<tr>
								<th>N°</th>
								<th>Semilla</th>
								<th>Precio</th>
								<th>Cantidad</th>

								<th>Importe</th>

							</tr>
						</thead>
					</table>

					<!-- Contenedor de la tabla con scroll -->
					<div class="overflow-y-auto mb-3 rounded-3 shadow">
						<table class="Table-custom Table-productor">
							<tbody>
								<tr th:each="detalleCompra, iterStat : ${ListaDetalleCompra}">
									<td th:text="${iterStat.index + 1}"></td>
									<td th:text="${detalleCompra.id_semilla.nombre}"></td>
									<td th:text="${detalleCompra.id_semilla.precio}"></td>
									<td th:text="${detalleCompra.cantidad}"></td>

									<td th:text="${detalleCompra.subtotal}"></td>


								</tr>
							</tbody>
						</table>
					</div>




				</div>


			</div>
			
			<div
					class="d-flex flex-column align-items-center container-fluid bg-white shadow rounded-3 py-3 mt-auto w-50 gap-3 ">
					<div
						class="d-flex justify-content-end align-items-center gap-3 mt-auto">
						<span class="fw-bold fs-14">Importe total:</span> <span
							class="fw-bold text-white fs-14 bg-primary rounded-3 px-3 py-1"
							th:text="${ImporteTotal}">$0.00</span>
					</div>


					<div class="d-flex justify-content-center gap-3">


						<a class="btn btn-outline-secondary py-2 px-5 rounded-pill"
							type="button" th:href="@{/Dashboard/Compra/ListaCompra}">Volver</a>


					</div>


				</div>






		</div>
	</div>

	<div th:insert="Components/ModalAndToast :: Modal-ConfirmMessage"></div>

	<script>
		setActiveByIndex(2);
	</script>


</body>
</html>