@charset "UTF-8";

:root {
	--MenuPadding: 15px 10px;
	--MenuBackgroundColor: rgb(255, 255, 255);
	--MenuItemBackgroundColorCursorSelected: rgb(220, 220, 220);
	--MenuItemForegroundColorCursorSelected: rgb(34, 34, 34);
	--MenuItemBackgroundColorSelected: rgb(34, 34, 34);
	--MenuItemForegroundColorSelected: rgb(255, 255, 255);
	--MenuBorderContainer: 8px;
}

.Container {
	display: flex; height : 100vh;
	padding: 15px 15px;
	background-color: rgb(240, 245, 255);
	border-radius: 8px;
	transition: all 0.3s ease;
	gap: 15px;
	height: 100vh;
}

.Menu-container {
	border-radius: var(--MenuBorderContainer);
	background-color: var(--MenuBackgroundColor);
	padding: var(--MenuPadding);
	width: 220px;
	position: relative;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Main-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.Header-container {
	border-radius: 8px;
	position: sticky;	
    top: 0;
    z-index: 1051;
	display: flex;
	flex-direction: column;
}

.Body-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0px 10px;
	height: 100%;
}

.navbar {
	height: 60px;
}

#ToggleMenuBtn {
	position: absolute;
	top: 55px;
	right: -15px;
	cursor: pointer;
	z-index: 1;
}

.Logo-container {
	display: flex;
	align-items: center;
	padding: 10px 14px;
	margin-bottom: 35px;
	white-space: nowrap;
}

.Logo-container img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.MenuHidden {
	width: 75px;
	padding-right: 10px;
}

.MenuHidden  span {
	display: none;
}

.HiddenLogo {
	display: none;
}

.MenuBtnToggleRotate {
	transform: rotate(180deg);
}

.MenuButton {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	border-radius: 8px;
	color: rgb(34, 34, 34);
	text-decoration: none;
	font-size: 14px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.MenuButton:hover {
	background-color: rgba(34, 179, 34, 0.1);
	transform: translateX(5px);
}

.MenuButtonActived {
	pointer-events: none;
	background-color: rgb(27, 153, 94);
}

.MenuButtonActived span {
	color: rgb(255, 255, 255);
}

.MenuButton.MenuButtonActived img {
	filter: invert(0);
}

.MenuButton img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	border-radius: 50%;
	filter: invert(1);
}

@media ( min-width : 1180px) {
	.Logo-header {
		display: none;
	}
	#ButtonHeader {
		display: none;
	}
	#NavBarHeader {
		display: none;
	}
}

@media ( max-width : 1380px) {
	#ToggleMenuBtn {
		display: none;
	}
}

@media ( max-width : 1180px) {
	#LogoContainer {
		display: none;
	}
	.Logo-header {
		display: block;
	}
	#ButtonHeader {
		display: block;
	}
	.Container{
	display: flex;
	height: auto;
	min-height: 100vh;
	}
	.Menu-container {
		display: none;
	}
	.Body-container {
		display: flex;
		flex-direction: column;
		height: auto;
	}
}