<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>

<body>

	<div th:fragment="FormLogin" class = "Container-Login">
		<div class="container bg-blur rounded-3 px-5 py-5">
		
			<form th:action="@{/login/IniciarSesion}" th:object="${loginRequest}" method="post">
			
				
				<h1 class = "fs-2 fw-bold">Iniciar Sesion</h1> 
				<p class="lead fs-6">Ingresa para acceder a todas tus herramientas y recursos.</p>
				
				
				<h6>Usuario</h6>
			

				<div class="Container-Input">
					<img src="/SVG/icon-default.svg"> 
					<input id="Input" type="text" placeholder="IngresarUsuario" th:field="*{usuario}">
					<button class="ButtonClear" type="button"></button>
				</div>

				
				<h6 class = "mt-3">Contraseña</h6>
				
				<div class="Container-Input">
					<img src="/SVG/icon-key.svg"> 
					<input id="InputPassword" type="password" placeholder="IngresarContraseña" th:field="*{contrasenia}">
					<button class="ButtonTooglePasswordView" type="button" onclick="ToggleVisibilityPassword(this)"></button>
				</div>
				
				 <div th:if="${error}" >
			        <h6 class = "py-2 text-danger lead fs-6" th:text="${error}"></h6>
			    </div>


				<div class="d-flex align-items-center mt-4">
					
					<button type="submit" class="btn btn-success fs-5 fw-bold w-100 py-2 rounded-pill" >INGRESAR</button>
				</div>

			</form>

		</div>
	</div>

</body>

</html>
