<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
</head>

<body>
	<!-- Fragmento de menú lateral -->
	<div th:fragment="MenuItems"
		class="MenuItems h-100 d-flex flex-column justify-content-between">
		<div class="">
			<button id="ToggleMenuBtn"
				class="btn-icon-toggle-menu icon-toggle-menu"
				onclick="ToggleMenuAction()"></button>

			<div id="LogoContainer" class="Logo-container">
				<img src="/SVG/SauiLogo.svg" alt="Logo" width="24" height="24">
				<span id="TextLogo" class="text-nowrap text-dark fw-bold">SAIU
					EXPORT</span>
			</div>

			<div class="d-flex flex-column gap-1">

				<a class="MenuButton" th:href="@{/Dashboard/Productor}"> <img
					src="/SVG/menu_productor.svg" alt="ClientesIcon"> <span
					class="text-nowrap">Productor</span>
				</a> <a class="MenuButton"> <img src="/SVG/menu_productos.svg"
					alt="ProductosIcon"> <span>Semillas</span>
				</a> <a class="MenuButton"> <img src="/SVG/menu_ventas.svg"
					alt="VentasIcon"> <span>Compras</span>
				</a> <a class="MenuButton"> <img src="/SVG/menu_reportes.svg"
					alt="ReportesIcon"> <span>Reportes</span>
				</a> <a class="MenuButton"> <img src="/SVG/menu_info.svg"
					alt="AyudaIcon" class="menu-icon"> <span>Ayuda</span>
				</a> <a class="MenuButton" th:href="@{/Usuario}"> <img
					src="/SVG/menu_user.svg" alt="SesionIcon" class="menu-icon">
					<span>Usuarios</span>
				</a>

			</div>
		</div>

		<!-- Información de usuario -->
		<div
			class="d-flex flex-column gap-2 shadow border border-2 rounded-3 bg-light pb-2 pt-2 py-3 px-2 mt-5 ">

			<div
				class="d-flex align-items-center justofy-content-center gap-2 mb-1 pe-4">
				<img src="/SVG/user-masculino.svg" alt="User Avatar"
					class="rounded-circle" width="35" height="35">
				<div class="d-flex flex-column">
					<span class=" fs-12 text-nowrap fw-bold"
						th:text="${rol}"></span> <span
						class=" fs-10 text-nowrap"
						th:text="${username}"></span>
				</div>

			</div>

			<a class="btn btn-success px-0" th:href="@{/Logout}"> <img alt=""
				src="/SVG/icon-close-sesion.svg" width="25" height="25"> <span 
				class="fs-10 fw-bold">Cerrar Sesion</span>
			</a>



		</div>
	</div>

	<!-- Fragmento de encabezado de menú -->
	<div th:fragment="Menu-Header">
		<nav id="NavBarHeader" class="navbar bg-white rounded-3 shadow mx-2">
			<div class="container px-4">
				<a class="Logo-header navbar-brand text-nowrap text-dark fw-bold"
					href="#"> <img src="/SVG/SauiLogo.svg" alt="Logo" width="24"
					height="24" class="d-inline-block align-text-top"> SAIU
					EXPORT
				</a>
				<button id="ButtonHeader" type="button" class="btn btn-success"
					data-bs-toggle="modal" data-bs-target="#overlayPanel">☰</button>

				<!-- Modal -->
				<div class="modal fade modal-sm" id="overlayPanel" tabindex="-1"
					aria-labelledby="overlayPanelLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered container">
						<div class="modal-content">
							<div class="modal-header">
								<span class="lead ms-4 fw-bold">Menú</span>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Cerrar"></button>
							</div>
							<div class="modal-body">
								<div th:replace="~{::MenuItems}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<!-- Fragmento de barra lateral del menú -->
	<div th:fragment="Menu-Sidebar" class="h-100">
		<div th:replace="~{::MenuItems}"></div>
	</div>

</body>

</html>
