<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<!-- Modal de confirmación genérico -->
	<div th:fragment="Modal-ConfirmMessage" class="modal fade "
		id="MessageConfirmModal" tabindex="-1" aria-labelledby="modalLabel"
		aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">

				<form id="deleteForm" method="post">
					<div class="modal-header bg-danger mb-1">
						<h5 class="modal-title fs-5 fw-bold text-white fs-6 py-0"
							id="modalLabel"></h5>

					</div>
					<div class="modal-body fs-6 lead" id="modalBody"></div>

					<div class="modal-footer border-0 gap-1">
						<button type="button"
							class="btn btn-outline-secondary rounded-pill px-4"
							data-bs-dismiss="modal">Cancelar</button>
						<button type="submit"
							class="btn btn-outline-success rounded-pill px-4"
							id="confirmDeleteButton">Confirmar</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- Toast -->
	<div th:fragment="Toast-MessageDanger"
		class="toast-container position-fixed w-100 top-0 start-0 p-4 mt-3 d-flex align-items-center justify-content-center">
		<div id="validationToast" class="toast text-bg-danger border-0"
			role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
				<div class="toast-body fw-bold" id="toastMessage">
					<!-- Mensaje dinámico se mostrará aquí -->
				</div>
			</div>
		</div>
	</div>



</body>
</html>