<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

</head>

<body>

	<div th:fragment="NavBar">
		<nav class="navbar bg-white">
			<div class="container py-2">
				<div class="d-flex flex-wrap align-content-center justify-content-center gap-1">
					<img src="/SVG/SauiLogo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> 
					<span class="Text-Logo">
						<strong>SAUI EXPORT</strong>
					</span>
				</div>
			</div>
		</nav>
	</div>

</body>

</html>
