<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Acceso Denegado</title>

</head>
<body>



	<div th:fragment="ShowMessageAcesoDenegado"
		class="container-error shadow">
		<img
			src="https://i.pinimg.com/originals/86/41/80/86418032b715698a4dfa6684b50c12af.gif"
			alt="Acceso Denegado" class="error-image">


		<style>
.container-error {
	max-width: 600px;
	background-color: #fff;
	border-radius: 30px;
	overflow: hidden;
}

/* Imagen del error */
.error-image {
	max-width: 100%;
	max-height: auto;
}
</style>
	</div>



</body>
</html>
