<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Acceso Denegado</title>

</head>
<body>



	<div th:fragment="ShowMessageAcesoDenegado"
		class="container-error shadow">
		
		
		
		<img
			src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif"
			alt="Acceso Denegado" class="error-image">
			<!--  
		<img
			src="https://cdn-images-1.medium.com/v2/resize:fill:1600:480/gravity:fp:0.5:0.4/1*zBFBJktPD3_z0S_35kO5Hg.gif"
			alt="Acceso Denegado" class="error-image">-->


		<style>
.container-error {
	max-width: 600px;
	background-color: #fff;
	border-radius: 30px;
	overflow: hidden;
}

/* Imagen del error */
.error-image {
	max-width: 100%;
	max-height: auto;
}
</style>
	</div>



</body>
</html>
