<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" pageEncoding="UTF-8">
  <title>Insertar Cliente</title>

  <!-- Estilos de Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  <!-- Scripts de Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Estilos personalizados -->
  <link href="/Styles/MenuStyle.css" rel="stylesheet">
  <link href="/Styles/WindowStyle.css" rel="stylesheet">
  <link href="/Styles/InsertarClienteStyle.css" rel="stylesheet">
  <link href="/Styles/ButtonStyle.css" rel="stylesheet">
  <link href="/Styles/TableStyle.css" rel="stylesheet">
  <link href="/Styles/InputStyle.css" rel="stylesheet">

  <!-- Scripts personalizados -->
  <script src="/Scripts/InputScript.js"></script>
  <script src="/Scripts/MenuScript.js"></script>
  <script src="/Scripts/ModalAndToastScript.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- Script personalizado para Insertar Cliente -->
  <script src="/Scripts/InsertarClienteScript.js"></script>

</head>

<body>

  <!-- Encabezado del menú -->
  <div th:insert="Components/Menu :: Menu-Header" class="Header-container"></div>

  <!-- Contenedor principal -->
  <div class="Main-container">
    
    <!-- Barra lateral del menú -->
    <div th:insert="Components/Menu :: Menu-Sidebar" id="Menu-container" class="Menu-container"></div>

    <!-- Cuerpo principal de la página -->
    <div class="Body-container overflow-y-auto">
      
      <!-- Formulario para registrar un cliente -->
      <form th:action="@{/Clientes/InsertarCliente}" th:object="${Cliente}" method="post" id="FormCliente" onsubmit="return ValidarFormulario()">
        <h3 class="mb-5 lead fw-bold text-center fs-4">REGISTRAR CLIENTE</h3>

        <!-- Sección de Datos del Cliente -->
        <div class="Form-container">
          <div class="BoxShadowContainer">
            <h5 class="border-bottom border-2 pb-3 mb-4 bg-dark text-white py-4 text-center fw-bold">Datos del cliente</h5>
            <div class="ms-3 px-4">
              
              <!-- Campo para DNI del cliente -->
              <div class="mb-2">
                <label for="InputDniCliente" class="form-label fw-bold fs-6 mb-0">DNI</label>
                <input type="text" class="form-control" th:field="*{dni}" id="InputDniCliente" placeholder="Insertar DNI 12345678">
              </div>

              <!-- Campo para Nombre del cliente -->
              <div class="mb-2">
                <label for="InputNombreCliente" class="form-label fw-bold fs-6 mb-0">Nombres</label>
                <input type="text" class="form-control" th:field="*{nombre}" id="InputNombreCliente" placeholder="Insertar nombres">
              </div>

              <!-- Campo para Apellido del cliente -->
              <div class="mb-2">
                <label for="InputApellidoCliente" class="form-label fw-bold fs-6 mb-0">Apellidos</label>
                <input type="text" class="form-control" th:field="*{apellido}" id="InputApellidoCliente" placeholder="Insertar apellidos">
              </div>

              <!-- Campo para Correo del cliente -->
              <div class="mb-2">
                <label for="InputCorreoCliente" class="form-label fw-bold fs-6 mb-0">Correo</label>
                <input type="text" class="form-control" th:field="*{correo}" id="InputCorreoCliente" placeholder="Insertar correo">
              </div>

              <!-- Campo para Teléfono del cliente -->
              <div class="mb-2">
                <label for="InputTelefonoCliente" class="form-label fw-bold fs-6 mb-0">Teléfono</label>
                <input type="text" class="form-control" th:field="*{telefono}" id="InputTelefonoCliente" placeholder="Insertar teléfono">
              </div>

            </div>
          </div>

          <!-- Sección de Ubicación del Cliente -->
          <div class="BoxShadowContainer">
            <h5 class="border-bottom border-2 pb-3 mb-4 bg-dark text-white py-4 text-center fw-bold">Ubicación</h5>
            <div class="ms-3 px-4">
              
              <!-- Select para Departamento -->
              <label for="departamentosSelect" class="form-label fw-bold fs-6">Departamentos</label>
              <select id="departamentosSelect" class="form-select" th:field="*{id_departamento}">
                <option disabled selected value="">Seleccione una opción...</option>
              </select>

              <!-- Select para Provincia -->
              <label for="provinciasSelect" class="form-label fw-bold fs-6">Provincia</label>
              <select id="provinciasSelect" class="form-select" th:field="*{id_provincia}">
                <option disabled selected value="">Seleccione una opción...</option>
              </select>

              <!-- Select para Distrito -->
              <label for="distritosSelect" class="form-label fw-bold fs-6">Distrito</label>
              <select id="distritosSelect" class="form-select" th:field="*{id_distrito}">
                <option disabled selected value="">Seleccione una opción...</option>
              </select>

              <!-- Campo para Dirección del Cliente -->
              <div class="mb-3">
                <label for="InputDireccionCliente" class="form-label fw-bold fs-6 mb-0">Dirección del cliente</label>
                <input type="text" class="form-control" id="InputDireccionCliente" th:field="*{direccion}" placeholder="Insertar dirección">
              </div>

            </div>
          </div>
        </div>

        <!-- Botones de acción -->
        <div class="d-flex justify-content-end gap-3 mt-4">
          <!-- Botón Volver -->
          <a class="btn btn-outline-primary py-2 px-4 rounded-pill" type="button" th:href="@{/Clientes/ListaClientes}">Volver</a>

          <!-- Botón Guardar -->
          <button type="submit" class="btn btn-primary py-2 px-5 rounded-pill">Guardar</button>
        </div>

      </form>
    </div>
  </div>

  <!-- Mensaje de Error con Toast -->
  <div th:insert="Components/ModalAndToast :: Toast-MessageDanger"></div>

  <script>
    // Función que verifica que todos los campos obligatorios estén completos
    function ValidarFormulario() {
      // Obtiene los valores de los campos del formulario
      const dni = document.getElementById('InputDniCliente').value.trim();
      const nombre = document.getElementById('InputNombreCliente').value.trim();
      const apellido = document.getElementById('InputApellidoCliente').value.trim();
      const correo = document.getElementById('InputCorreoCliente').value.trim();
      const telefono = document.getElementById('InputTelefonoCliente').value.trim();
      const departamento = document.getElementById('departamentosSelect').value;
      const provincia = document.getElementById('provinciasSelect').value;
      const distrito = document.getElementById('distritosSelect').value;
      const direccion = document.getElementById('InputDireccionCliente').value.trim();

      // Verifica si algún campo está vacío
      if (!dni) {
        showToastMessage('Por favor, ingrese el DNI del cliente.');
        return false;
      }

      if (!nombre) {
        showToastMessage('Por favor, ingrese el nombre del cliente.');
        return false;
      }

      if (!apellido) {
        showToastMessage('Por favor, ingrese el apellido del cliente.');
        return false;
      }

      if (!correo) {
        showToastMessage('Por favor, ingrese el correo del cliente.');
        return false;
      }

      if (!telefono) {
        showToastMessage('Por favor, ingrese el teléfono del cliente.');
        return false;
      }

      if (!departamento) {
        showToastMessage('Por favor, seleccione un departamento.');
        return false;
      }

      if (!provincia) {
        showToastMessage('Por favor, seleccione una provincia.');
        return false;
      }

      if (!distrito) {
        showToastMessage('Por favor, seleccione un distrito.');
        return false;
      }

      if (!direccion) {
        showToastMessage('Por favor, ingrese la dirección del cliente.');
        return false;
      }

      return true;
    }

    // Función para establecer la clase activa en el menú
    setActiveByIndex(0);

  </script>

</body>

</html>
