<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" pageEncoding="UTF-8">
    <title>Insert title here</title>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
            crossorigin="anonymous">
    </script>

    <!-- Estilos -->
    <link href="/Styles/MenuStyle.css" rel="stylesheet">
    <link href="/Styles/InsertarClienteStyle.css" rel="stylesheet">
    <link href="/Styles/ButtonStyle.css" rel="stylesheet">
    <link href="/Styles/TableStyle.css" rel="stylesheet">
    <link href="/Styles/InputStyle.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="/Scripts/InputScript.js"></script>
    <script src="/Scripts/MenuScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/Scripts/InsertarClienteScript.js"></script>
</head>

<body>
    <!-- Header -->
    <div th:insert="Components/Menu :: Menu-Header" class="Header-container"></div>

    <!-- Main Container -->
    <div class="Main-container">
        <!-- Sidebar -->
        <div th:insert="Components/Menu :: Menu-Sidebar" id="Menu-container" class="Menu-container"></div>

        <!-- Body -->
        <div class="Body-container overflow-y-auto">
            <form th:action="@{/Dashboard/Clientes/InsertarCliente}" th:object="${Cliente}" method="post">
                <h3 class="mb-5 lead fw-bold text-center fs-4">NUEVO CLIENTE</h3>

                <div class="Form-container">
                    <!-- Datos del Cliente -->
                    <div>
                        <h5 class="border-bottom border-2 pb-2 mb-3 text-center fw-bold">Datos del cliente</h5>
                        <div class="ms-3 px-4">
                            <div class="mb-2">
                                <label for="InputDniCliente" class="form-label fw-bold fs-6 mb-0">DNI</label>
                                <input type="text" class="form-control" th:field="*{dni}" id="InputDniCliente" placeholder="Insertar DNI 12345678">
                            </div>
                            <div class="mb-2">
                                <label for="InputNombreCliente" class="form-label fw-bold fs-6 mb-0">Nombres</label>
                                <input type="text" class="form-control" th:field="*{nombre}" id="InputNombreCliente" placeholder="Insertar nombres">
                            </div>
                            <div class="mb-2">
                                <label for="InputApellidoCliente" class="form-label fw-bold fs-6 mb-0">Apellidos</label>
                                <input type="text" class="form-control" th:field="*{apellido}" id="InputApellidoCliente" placeholder="Insertar apellidos">
                            </div>
                            <div class="mb-2">
                                <label for="InputCorreoCliente" class="form-label fw-bold fs-6 mb-0">Correo</label>
                                <input type="text" class="form-control" th:field="*{correo}" id="InputCorreoCliente" placeholder="Insertar correo">
                            </div>
                            <div class="mb-2">
                                <label for="InputTelefonoCliente" class="form-label fw-bold fs-6 mb-0">Teléfono</label>
                                <input type="text" pattern="^\+?[0-9\s\-]+$" class="form-control" th:field="*{telefono}" id="InputTelefonoCliente" placeholder="Insertar teléfono">
                            </div>
                        </div>
                    </div>

                    <!-- Ubicación -->
                    <div>
                        <h5 class="border-bottom border-2 pb-2 mb-3 text-center fw-bold">Ubicación</h5>
                        <div class="ms-3 px-4">
                        
                            <label for="departamentosSelect" class="form-label fw-bold fs-6">Departamentos</label>
                            <select id="departamentosSelect" class="form-select" th:field="*{id_departamento}">
                                <option disabled selected value="">Seleccione una opción...</option>
                            </select>

                            <label for="provinciasSelect" class="form-label fw-bold fs-6">Provincia</label>
                            <select id="provinciasSelect" class="form-select" th:field="*{id_provincia}">
                                <option disabled selected value="">Seleccione una opción...</option>
                            </select>

                            <label for="distritosSelect" class="form-label fw-bold fs-6">Distrito</label>
                            <select id="distritosSelect" class="form-select" th:field="*{id_distrito}">
                                <option disabled selected value="">Seleccione una opción...</option>
                            </select>

                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-6 mb-0">Dirección del cliente</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" th:field="*{direccion}" placeholder="Insertar dirección">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botones -->
                <div>
                    <h5 class="border-bottom border-2 pb-2 mb-3 text-end"></h5>
                    <div class="d-flex justify-content-end gap-3 mt-4">
                        <a class="btn btn-outline-primary py-2 px-4 rounded-pill" type="button" th:href="@{/Dashboard/Clientes/ListaClientes}">Volver</a>
                        <button type="submit" class="btn btn-primary py-2 px-5 rounded-pill">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        setActiveByIndex(0);
    </script>
</body>

</html>
