<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" pageEncoding="UTF-8">
<title>Insert title here</title>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous">
	
</script>

<link href="/Styles/MenuStyle.css" rel="stylesheet">
<script src="/Scripts/MenuScript.js"></script>
<link href="/Styles/ComponentesStyle.css" rel="stylesheet">

</head>
<body>

	<div class="Container">
		<div th:insert="Components/Menu :: Menu-Sidebar" id="Menu-container"
			class="Menu-container"></div>
		<div class="Main-container">
			<div th:insert="Components/Menu :: Menu-Header"
				class="Header-container "></div>
			<div
				class="Body-container d-flex align-items-center justify-content-center">
				<div
					th:insert="Components/ShowAccesoDenegado :: ShowMessageAcesoDenegado"></div>

			</div>
		</div>
	</div>

</body>
</html>