<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" pageEncoding="UTF-8">
<title>Insert title here</title>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous">
	
</script>

<link href="/Styles/MenuStyle.css" rel="stylesheet">
<link href="/Styles/ButtonStyle.css" rel="stylesheet">
<script src="/Scripts/MenuScript.js"></script>

</head>
<body>

	<div th:insert="Components/Menu :: Menu-Header"
		class="Header-container"></div>

	<div class="Main-container">

		<div th:insert="Components/Menu :: Menu-Sidebar" id="Menu-container"
			class="Menu-container"></div>

		<div class="Body-container overflow-y-auto">

			

				<h3 class="fs-3 fw-bold">Ventas</h3>
				<span class="lead fs-6"> La palabra venta se refiere al acto o 
				proceso mediante el cual se intercambia un bien o servicio por un valor monetario. 
				Es una transacción en la que el vendedor ofrece un producto o servicio 
				y el comprador lo adquiere a cambio de dinero u otro tipo de compensación acordada.
				</span>
				
				<div class="d-flex mt-4 mb-2 border-bottom border-1 pb-2">
					<h3 class="flex-grow-1 lead mt-3 fs-4 fw-bold text-nowrap">Lista
						Ventas </h3>
					<div
						class=" d-flex justify-content-end align-items-center mt-1 gap-2 mb-1">
						<a class="btn btn-outline-primary py-2 px-4 rounded-pill "
							type="button" th:href="@{/Dashboard/Ventas/RealizarVenta}">Realizar venta</a>
					</div>
				</div>
				
				
				
		</div>
	</div>
	
	<script>
		setActiveByIndex(2);
	</script>
	

</body>
</html>