@charset "UTF-8";


.btn-icon{
	display:flex;
	width:35px;
	height:35px;
	outline: none;
	justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    border:none;
    border-radius:8px;
    
    padding: 17px 17px;
    
    box-shadow:0 4px 6px rgba(0,0,0,0.2);
    background-color:rgb(250,250,255);
   
    background-size: 20px 20px; 
    background-position: center; 
    background-repeat: no-repeat;
    
    transition: all 100ms ease-in;
}

.btn-icon:hover{
	box-shadow:0 4px 6px rgba(255,255,255,0.2);
	filter:invert(1);
}
.icon-delete{
    background-image:url('/SVG/op_delete.svg');
}
.icon-edit{
    background-image:url('/SVG/op_edit.svg');
}
.icon-view{
    background-image:url('/SVG/op_view.svg');
}