@charset "UTF-8";
/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
:root{
	--InputBorderDefaultColor: 2px solid rgb(220,220,220);
	--InputBorderFocusColor : 2px solid rgb(58, 192, 89);
	--InputBorderRadius : 8px;
	--InputContainerPadding: 8px 10px;
	
	--BackgroundBlur : 50px;
	--BackgroundSaturate : 180%;
	--InputBackgroundColor: rgb(255,255,255);
	
	--IconSize: 25px;
	--FontSize: 16px;
	
	
}
.Container-Input{
	display: flex;
	align-items: center;
	width: 100%;
	
    padding:var(--InputContainerPadding);
    border-radius: var(--InputBorderRadius);
    background-color: var(--InputBackgroundColor);
    border: var(--InputBorderDefaultColor);
    gap:6px;
}

.Container-Input:focus-within {
    border: var(--InputBorderFocusColor);
}

.Container-Input input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height:100%;
    font-size:var(--FontSize);
    padding: 0px 0px;
    
}

.Container-Input img {
    width: var(--IconSize);
    height: var(--IconSize);
    object-fit: contain;
}


.Container-Input button{
	outline: none;
	justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    border: none;
    border-radius:50%;
    background: none;
    
     background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    
    transition: filter 0.5s ease;
}
.Container-Input .ButtonClear {
	display: none;
	width:  var(--IconSize);
    height: var(--IconSize);
    background-image:url('/SVG/icon-clear-text.svg');
    filter: invert(1);
}

.Container-Input .ButtonTooglePasswordView{
	width:  var(--IconSize);
    height: var(--IconSize);
    background-image:url('/SVG/icon-password-hidden.svg');
}
.ButtonTooglePasswordView.showPassword{
	background-image:url('/SVG/icon-password-show.svg');
}

.Container-Input .ButtonClear:hover {
	filter: invert(0);
}
	
