@charset "UTF-8";

.Form-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	gap: 30px;
}

.BoxShadowContainer{
	padding: 0px 0px 30px 0px ;
	border-radius:8px;
	box-shadow: 0 2px 15px rgba(0,0,0,0.13);
	overflow: hidden;
}