@charset "UTF-8";

.icon-filter::before {
	content: "";
	position: absolute;
	left: 14px;
	background-image: url('/SVG/icon-filter.svg');
	width: 25px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
}

.dropdown-menu button:hover {
	background-color: rgb(11, 94, 215);
}