@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
:root{
	--MenuPadding: 15px 10px;
	
	--MenuBackgroundColor: rgb(255,255,255);
	--MenuItemBackgroundColorCursorSelected : rgb(220,220,220);
	--MenuItemForegroundColorCursorSelected : rgb(34,34,34);
	
	--MenuItemBackgroundColorSelected: rgb(34,34,34);
	--MenuItemForegroundColorSelected: rgb(255,255,255);
	
	--MenuBorderContainer: 10px;
	
	--BodyBorderPadding: 5px;
	--BodyBackgroundColor: rgb(60,60,60);
}

body{
	display:flex;
	flex-direction:column;
	height:100vh;
	padding: var(--BodyBorderPadding);
	background-color: var(--BodyBackgroundColor);
	font-family: 'Inter', sans-serif;
}
.Menu-container{
	border-right:1px solid rgb(210,210,210);
	background-color: var(--MenuBackgroundColor);
	padding: var(--MenuPadding);
	width:75px;
	span{display:none;}
   	
}
.ButtonMenuToggle {
		width: 19px;
	    height:19px;
		outline: none;
		justify-content: center;
	    align-items: center;
	    margin:0;
	    padding:0;
	    border: none;
	    background: none;
	    background-image:url('/SVG/menu_toggle.svg');
	    background-size: contain; 
	    background-position: center; 
	    background-repeat: no-repeat;
}


.hidden{
	span{display:block;}
	width: 220px;
}

.ButtonMenuToggle {
	transition: 0.1s ease;
}
.rotate-icon{
	transform: rotate(-180deg); 
}
		
.Header-container{
	border-top-left-radius: var(--MenuBorderContainer);
	border-top-right-radius: var(--MenuBorderContainer);
	border-bottom:1px solid rgb(170,170,170);
	overflow: hidden;
}
.Main-container{
	
	border-bottom-left-radius: var(--MenuBorderContainer);
	border-bottom-right-radius: var(--MenuBorderContainer);
	overflow: hidden;
	
	display: grid;
	
	flex:1;
	grid-template-columns:auto 1fr;
}	
.Body-container{
	background-color: rgb(255,255,255);
	padding: 30px 50px;
}

ul {
	list-style-type: none;
	
	margin: 0;
	padding: 0;
	
}
		
ul li {
	margin: 5px 0;
	text-align: left;
	
}


.nav-item .nav-link img{
	width: 25px;
	height: 25px;
	
}
.nav-link{
	display:flex;
	width:100%;
	align-items: center;
	
	span{
		color: var(--MenuItemForegroundColorCursorSelected);
	}
	
	border-radius: 8px;
	padding: 10px 15px;
	font-size: 15px;
	user-select: none;
	gap:20px;
	transition: background-color 0.3s ease;
}


.nav-link.active{
	background-color: var(--MenuItemBackgroundColorSelected);
	pointer-events: none; 
  	span{
  		color: var(--MenuItemForegroundColorSelected);
  	}
	img{
		filter: invert(0);
	}
}
.nav-link.active:hover{
	background-color: var(--MenuItemBackgroundColorSelected)
}

.nav-link:hover{
	background-color: var(--MenuItemBackgroundColorCursorSelected)
}

.nav-link img{
	filter: invert(1);
}


@media (min-width: 1024px) {
	.navbar-toggler{
	    display:none;
	}
	
	.navbar-collapse{
		transition:all 0s;
	}
}
@media (max-width: 1024px) {
	.ButtonMenuToggle{
		display:none;
	}
	.Menu-container{
		display:none;
		
	}
	.Body-container{
		padding: 30px 25px;
	}
	.navbar-collapse{
		margin: 0px 50px;
		border-radius:10px;
		padding:15px 10px;
		border:1px solid rgb(170,170,170);
		
		background-color:rgb(255,255,255);
		position: fixed;
		
		top:13%;
		left: 0;
		right: 0;
		
		
		z-index: 1000;
	}
	
	.Main-container{
		grid-template-columns: 1fr;
	}
}